.desktop {
    background-color: #08d9a2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #08d9a2;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .component {
    position: absolute;
    width: 700px;
    height: 782px;
    top: 185px;
    left: 370px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 10px 10px 10px #00000040;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    top: 226px;
    left: 110px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    top: 23px;
    left: 86px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 90px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .line {
    top: 274px;
    position: absolute;
    width: 496px;
    height: 1px;
    left: 90px;
    object-fit: cover;
  }
  
  .desktop .img {
    top: 423px;
    position: absolute;
    width: 496px;
    height: 1px;
    left: 90px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    top: 326px;
    left: 110px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame {
    flex-direction: column;
    width: 225px;
    height: 109px;
    gap: 10px;
    top: 617px;
    left: 413px;
    display: flex;
    align-items: flex-start;
    position: absolute;
  }
  
  .desktop .rectangle {
    position: relative;
    width: 225px;
    height: 107px;
    background-color: #08d9a2;
    border-radius: 50px;
    box-shadow: 10px 10px 10px #00000040;
  }
  
  .desktop .vector {
    position: absolute;
    width: 90px;
    height: 77px;
    top: 16px;
    left: 70px;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    top: 432px;
    left: 419px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #014735;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .frame-2 {
    width: 208px;
    height: 24px;
    gap: 12px;
    top: 516px;
    left: 86px;
    display: flex;
    align-items: flex-start;
    position: absolute;
  }
  
  .desktop .tabler-checkbox {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .desktop .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-6 {
    position: absolute;
    top: 519px;
    left: 407px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #014735;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .vector-2 {
    position: absolute;
    width: 90px;
    height: 117px;
    top: 28px;
    left: 86px;
  }
  
  .desktop .text-wrapper-7 {
    position: absolute;
    height: 116px;
    top: 27px;
    left: 209px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #fffffff2;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  